<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出席管理</title>
    <meta name="description" content="ページの説明文">
    <link rel="stylesheet"href="test.css">
</head>
<body><div class="body">
    <header>
        <div class="container flex">
            <a href="home.html" class="logo">出席管理システム</a>
            <nav>
                <ul class="header_menu flex">
                    <li><a href="inquiry.html">お問い合わせ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <h2 class="h2">出欠設定(仮)</h2>
    <h3><div class = "h3">
        <form action="/APSetting" method="post">
			年：<input type="number" name="year" min="1900" max="2100" required/><br/>
			            月：<input type="number" name="month" min="1" max="12" required/><br/>
			            日：<input type="number" name="day" min="1" max="31" required/><br/><br/>
            氏名：<select name="name">
                <!--氏名の集合をデータベースから読み込み、選択肢として表示-->
                <option th:each="name : &{names}" th:value="&{name}" th:text="&{name}"></option>
                </select><br/>
            出欠状態：<select name="status">
                <!--出欠状態の集合をデータベースから読み込み、選択肢として表示-->
                <option th:each="status : &{status}" th:value="&{status}" th:text="&{status}"></option>
                </select><br/>
            <input type="submit" value="送信" />
            </form>
    </div>
    </h3>
</div>
</body>
</html>