<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  initial-scale=1.0>
    <title>出席管理</title>
    <meta name="description" content="ページの説明文">
    <link rel="stylesheet"href="test.css">
</head>
<body><div class="body">
    <header>
        <h1>
            <div>
            <span class="head1">
                問い合わせ
            </span>
            <a class="head2" href="search.html">
                ホームページに戻る
            </a>
            </div>
        </h1>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="author">Author</h2>
        <ul>
            <a href="https://github.com/ayadato"><div class="ayadato"><img src="ayadato.jpg" width="200" height="200" alt="ayadato"></a>
            <div>ayadato</div></div>
        </ul>
        <ul>
            <a href="https://github.com/dainum"><div class="dainum"><img src="dainumpng.png" width="200" height="200" alt="dainum"></a>
            <div>dainum</div></div>
        </ul>
        <ul>
            <a href="https://github.com/sekibouya"><div class="YushiSeki"><img src="YushiSeki.jpg" width="200" height="200" alt="seki"></a>
            <div>sekibouya</div></div>
        </ul>
        <ul>
            <a href="https://github.com/kibamigimi"><div class="kibamigimi"><img src="kibamigimi.jpeg" width="200" height="200" alt="kibamigimi"></a>
            <div>kibamigimi</div></div>
        </ul>
</div>
</body>
</html>